$color-scheme: level200;
$body-background-color: #000000;
$body-heading-color: #ffffff;
$body-text-color: #ffffff;
$link-color: #7f00ff;
$nav-child-link-color: #7f00ff;
$sidebar-color: #000000;
$base-button-color: #7f00ff;
$btn-primary-color: #7f00ff;
$code-background-color: #000000;
$feedback-color: #000000;
$table-background-color: #000000;
$search-background-color: #000000;
$search-result-preview-color: #ffffff;

@import "./vendor/accessible-pygments/github-light";
