// Search input and autocomplete

.search {
  position: relative;
  z-index: 2;
  flex-grow: 1;
  height: $sp-10;
  padding: 0;
  transition: padding linear #{$transition-duration * 0.5};

  @include mq(md) {
    position: relative !important;
    width: auto !important;
    height: 100% !important;
    padding: 0;
  }
}

.search-input-wrap {
  position: relative;
  z-index: 1;
  height: $sp-10;
  overflow: hidden;
  border-radius: $border-radius;
  box-shadow: none;

  @include mq(md) {
    position: absolute;
    width: $search-results-width;
    height: 100% !important;
    border-radius: 0;
    box-shadow: none;
    transition: width ease $transition-duration;
  }
}

.search-input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: $sp-2 $gutter-spacing-sm $sp-2 #{$gutter-spacing-sm + $sp-5};
  font-size: 1rem;
  color: $link-color;
  background-color: $search-background-color;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  border-radius: 0;

  @include mq(md) {
    padding: $sp-2 $gutter-spacing $sp-2 #{$gutter-spacing + $sp-5};
    font-size: 1rem;
    background-color: $body-background-color;
    transition: padding-left linear #{$transition-duration * 0.5};
  }

  &:focus {
    outline-offset: -1px;
    color: $body-heading-color;

    + .search-label .search-icon {
      color: $body-heading-color;
    }
  }

  &:hover {
    color: $body-heading-color;
    
    + .search-label .search-icon {
      color: $body-heading-color;
    }
  }
}

.search-label {
  position: absolute;
  display: flex;
  height: 100%;
  padding-left: $gutter-spacing-sm;

  @include mq(md) {
    padding-left: $gutter-spacing;
    transition: padding-left linear #{$transition-duration * 0.5};
  }

  .search-icon {
    width: #{$sp-4 * 1.2};
    height: #{$sp-4 * 1.2};
    align-self: center;
    color: $link-color;
  }
}

.search-results {
  position: absolute;
  left: 0;
  display: none;
  width: 100%;
  max-height: calc(100vh - #{$header-height} - #{$sp-10} + 2px);
  min-height: 0;
  overflow-y: auto;
  background-color: $search-background-color;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  box-shadow: none;
  border-bottom: $border $border-color;

  @include mq(md) {
    top: 100%;
    width: $search-results-width;
    max-height: calc(100vh - #{$header-height} + 2px) !important;
  }
}

.search-results-list {
  padding-left: 0;
  margin-bottom: $sp-1;
  list-style: none;
  @include fs-4;

  @include mq(md) {
    @include fs-3;
  }
}

.search-results-list-item {
  padding: 0;
  margin: 0;
}

.search-result {
  display: block;
  padding: $sp-1 $gutter-spacing-sm;
  outline-offset: -1px;

  @include mq(md) {
    padding: $sp-1 $gutter-spacing;
  }

  &:hover,
  &.active {
    color: $body-heading-color;

    svg {
      color: $body-heading-color;
    }
  }
}

.search-result-title {
  display: block;
  padding-top: $sp-2;
  padding-bottom: $sp-2;

  @include mq(sm) {
    display: inline-block;
    width: 40%;
    padding-right: $sp-2;
    vertical-align: top;
  }
}

.search-result-doc {
  display: flex;
  align-items: center;
  overflow-wrap: break-word;

  &.search-result-doc-parent {
    font-size: $font-size-4;
    font-weight: bold;
  }

  .search-result-icon {
    width: $sp-4;
    height: $sp-4;
    margin-right: $sp-2;
    color: $link-color;
    flex-shrink: 0;
  }

  .search-result-doc-title {
    overflow: auto;
  }
}

.search-result-section {
  margin-left: #{$sp-4 + $sp-2};
  overflow-wrap: break-word;
  font-size: $font-size-4;
}

.search-result-rel-url {
  display: block;
  margin-left: #{$sp-4 + $sp-2};
  overflow: hidden;
  color: $search-result-preview-color;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: $font-size-4;
}

.search-result-previews {
  display: block;
  padding-top: $sp-2;
  padding-bottom: $sp-2;
  padding-left: $sp-4;
  margin-left: $sp-2;
  color: $search-result-preview-color;
  overflow-wrap: break-word;
  border-left: $border;
  border-left-color: $border-color;
  font-size: $font-size-4;

  @include mq(sm) {
    display: inline-block;
    width: 60%;
    padding-left: $sp-2;
    margin-left: 0;
    vertical-align: top;
    font-size: $font-size-4;
  }
}

.search-result-preview + .search-result-preview {
  margin-top: $sp-1;
}

.search-result-highlight {
  text-decoration: underline;
}

.search-no-result {
  padding: $sp-1 $gutter-spacing-sm;
  font-size: $font-size-4;

  @include mq(md) {
    padding: $sp-2 $gutter-spacing;
  }
}

.search-button {
  position: fixed;
  right: $sp-4;
  bottom: $sp-4;
  display: flex;
  width: $sp-9;
  height: $sp-9;
  background-color: $search-background-color;
  border: 1px solid rgba($link-color, 0.3);
  border-radius: 0;
  box-shadow: none;
  align-items: center;
  justify-content: center;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 0;
}

.search-active {
  .search {
    position: fixed;
    top: $header-height;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;

    @include mq(md) {
      top: 0;
    }
  }

  .search-input-wrap {
    overflow: visible;
    height: $sp-10;
    border-radius: 0;

    &::after {
      content: "";
      position: absolute;
      left: $gutter-spacing-sm;
      right: $gutter-spacing-sm;
      bottom: -1px;
      height: 1px;
      background-color: $border-color;

      @include mq(md) {
        left: $gutter-spacing;
        right: $gutter-spacing;
      }
    }

    @include mq(md) {
      width: $search-results-width;
      box-shadow: none;
    }
  }

  .search-results {
    display: block;
  }

  .main-header {
    padding-top: $sp-10;

    @include mq(md) {
      padding-top: 0;
    }
  }
}
